<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    

    <title></title>
    {{ content_for_header }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% section 'menu-drawer-section' %}
    {% section 'header-section' %}
    {{ content_for_layout }}
        
    {% if template == 'index' %}
    
      {% comment %} {{ 'collection-list-filter.js' | asset_url | script_tag }} {% endcomment %}
      {{ 'badge.js' |  asset_url |  script_tag }}
      {{ 'featured-on.js' |  asset_url |  script_tag }}
      {{ 'collection-scroll.js' |  asset_url |  script_tag }}

    {% endif %}
      

  </body>
  
</html>