{{ 'badges-section.css' |  asset_url |  stylesheet_tag }}
<badge-section>
<div class="badges_section">
    <div class="badge_container">
        <img src="{{ 'gift_.png' |  asset_url }}" alt="">
        <span class="badge_main_title">TRY IT FOR 
            60 NIGHTS
            </span>
        <span class="badge_sub_title">No Strings Attached
        </span>
    </div>
    <div class="badge_container">
        <img src="{{ 'gift_.png' |  asset_url }}" alt="">
        <span class="badge_main_title">WE PAY YOUR SHIPPING</span>
        <span class="badge_sub_title">$ 9.99 $0 from your first
            purchase
        </span>
    </div>
    <div class="badge_container">
        <img src="{{ 'clock.png' |  asset_url }}" alt="">
        <span class="badge_main_title">BLOOMY CARE+</span>
        <span class="badge_sub_title">Easy Returns
            & After Sales            
        </span>
    </div>
    <div class="badge_container">
        <img src="{{ 'tree.png' |  asset_url }}" alt="">
        <span class="badge_main_title">A TREE PLANTED
            FOR YOUR BLOOMY
            </span>
        <span class="badge_sub_title">With Eden Deforestation Project

        </span>
    </div>
</div>
</badge-section>
{{ 'badge.js' |  asset_url |  script_tag }}