{{ 'collection-list-filter-section.css' |  asset_url |  stylesheet_tag }}
<collection-list-filter>
<div class="collection_list_filter_section">
    <script type="application/json">
    [{% for p in  section.settings.collection_id.products %}{ "id":{{ p.id  }},"title":"{{ p.title }}","color":"{{ p.metafields.custom.color }}" ,"variant":"{{ p.metafields.custom.variant_id}}","price":"{{ p.price |  money }}","url":"{{ p.url }}","front_image":"{{ p.images[0] |  image_url  }}","back_image":"{{ p.images[1] |  image_url  }}","type":"{{ p.metafields.custom.type_collection}}"}{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
    </script>
    <h1 class="title_section">{{ section.settings.collection_id.title }}</h1>
    <div class="filter_container">
        <div class="colors_picker">
            <div class="colors_picker_wrapper">
                
            </div>  
        </div>
        <div class="collection_tabs_container">
        </div>
    </div>
    <div class="arrows_container">
            <div class="button_previous"><img src="{{ 'left-chevron.png' |  asset_url }}" alt=""></div>
            <div class="button_next"><img src="{{ 'left-chevron.png' |  asset_url }}" alt=""></div>
    </div>
    <div class="products_container"> 
    </div>
    <a class="action_button_collection" href="{{ ection.settings.collection_id.url }}">SHOP ALL</a>
</div>
</collection-list-filter>

{% schema %}
{
    "name": "Collection List Filter",
    "settings": [
        {
            "type": "collection",
            "id": "collection_id",
            "label": "Choose the Collection"
        }
        ],
        "presets": [
            {
                "name": "Collection List"
            }
        ]
}
{% endschema %}