{{ 'collection-scroll-section.css' |  asset_url |  stylesheet_tag }}
<collection-scroll>
<div class="collection_scroll_section">
    <div class="section_title">The Benefits Are Real</div>
    <div class="section_sub_title">Transform your hair and Skin in just 4 nights!</div>
    <div class="collections_list_scroll">
        <a class="collection_card">
            <img src="{{ 'queen_pillow_case.png' |  asset_url }}" alt="">
            <span class="title_collection_card">QWEEN PILLOWCASES</span>
        </a>
        <a class="collection_card">
            <img src="{{ 'sleep_masks.png' |  asset_url }}" alt="">
            <span class="title_collection_card">SLEEP MASKS</span>
        </a>
        <a class="collection_card">
            <img src="{{ 'queen_pillow_case.png' |  asset_url }}" alt="">
            <span class="title_collection_card">QWEEN PILLOWCASES</span>
        </a>
        <a class="collection_card">
            <img src="{{ 'sleep_masks.png' |  asset_url }}" alt="">
            <span class="title_collection_card">SLEEP MASKS</span>
        </a>
        <a class="collection_card">
            <img src="{{ 'queen_pillow_case.png' |  asset_url }}" alt="">
            <span class="title_collection_card">QWEEN PILLOWCASES</span>
        </a>
        <a class="collection_card">
            <img src="{{ 'sleep_masks.png' |  asset_url }}" alt="">
            <span class="title_collection_card">SLEEP MASKS</span>
        </a>
    </div>
    <div class="scroll_arrows_container">
        <div class="left_arrow"><img src="{{ 'left_arrow_.png' |  asset_url }}" alt=""></div>
        <div class="right_arrow"><img src="{{ 'left_arrow_.png' |  asset_url }}" alt=""></div>
    </div>
</div>
</collection-scroll>
